.chercher{
    display: flex;
    flex-wrap: wrap;
    margin: 10%;
    font-weight: 700;
    font-size: -webkit-xxx-large;
}

.sous-titre{
    display: flex;
    flex-wrap: wrap;
    font-weight: bolder;
    font-size: x-large;
   margin: 10%;
}